* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

header {
    border: 1px solid rgb(216, 212, 212);
}

.headerTop {
    background-color: rgb(194, 189, 189);
    padding: 0.25rem;
}

.headerTop .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerSecond {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.headerSecond .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
}

.logo img {
    width: 2rem;
}

.headerSecondRight {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem
    ;
}

.headerSecond a {
    text-decoration: none;
    color: gray;
}

#menuButton {
    background-color: transparent;
    border: none;
    color: green;

}

.lalanguageSelect {
    display: none;
}

@media only screen and (min-width: 768px) {
    .headerTop .container {
        justify-content: space-between;

    }

    .lalanguageSelect {
       display: flex;
       flex-direction: row;
       align-items: center;
       gap: 0.25rem;
    }

    .lalanguageSelect img {
        width: 1rem;
    }
    
  }

@media only screen and (min-width: 992px) {
    #menuButton {
        display: none;
    }
  }